* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  position: relative;
  padding-bottom: 60px;
  min-height: 90vh;
}

main {
  font-family: "Montserrat", sans-serif;
  margin: 7%;
}

/* ==========HEADER & NAVBAR========== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-header {
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
  font-size: 28px;
  padding-left: 5%;
  text-decoration: none;
}

.logo-header a {
  text-decoration: none;
  color: rgba(22, 20, 20, 0.479);
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding-right: 5%;
  font-size: 17px;
}

.navigation li {
  list-style-type: none;
  padding: 10px 20px;
}

li a {
  text-decoration: none;
  color: rgba(22, 20, 20, 0.575);
}

li a:hover {
  color: black;
  transition: 0.2s;
}

.hamburger-menu {
  display: none;
  padding-right: 5%;
}

.bar {
  display: block;
  background-color: grey;
  width: 30px;
  height: 5px;
  margin: 10% auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ABOUT ME SECTION */
.Aboutme-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  padding: 5%;
}

.aboutme-image-container {
  padding-right: 5%;
}

.aboutme-image-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.aboutme-container h2 {
  font-size: 30px;
  padding-bottom: 6px;
}

.aboutme-container article {
  text-align: justify;
}

/* FOOTER */
footer {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 1% 1.5%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
}

footer img {
  width: 20px;
  height: 20px;
}

.footer-right-items {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.footer-left-items {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.footer-left-items i {
  padding-right: 9px;
}

/* ====================TABLET LARGER SCREEN==================== */
@media screen and (max-width: 1024px) {
  /* HEADER & NAVBAR */
  .navigation {
    width: 60%;
  }

  .navigation li {
    padding-right: 5px;
  }

  /* ABOUT ME SECTION */
  .Aboutme-section {
    padding-top: 7%;
    flex-direction: column;
  }

  /* FOOTER */
  footer {
    justify-content: space-evenly;
  }
}

/* ====================TABLET SCREEN==================== */
@media screen and (max-width: 768px) {
  /* HEADER & NAVBAR */
  .navigation {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* ABOUT ME SECTION */
  .Aboutme-section {
    padding-top: 9%;
    flex-direction: column;
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: auto;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

/* ====================MOBILE SCREEN==================== */
@media screen and (max-width: 576px) {
  /* HEADER & NAVBAR */
  .navigation {
    display: none;
  }

  /* ABOUT ME SECTION */
  .Aboutme-section {
    display: flex;
    align-items: center;
    padding-top: 15%;
    flex-direction: column;
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: auto;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}
